* text=auto !eol
/LICENSE -text
/NOTICE -text
branch1demo/Chrysanthemum.jpg -text
branch1demo/Desert.jpg -text
branch1demo/GitHubSetup.exe -text
branch1demo/Hydrangeas.jpg -text
branch1demo/LICENSE -text
branch1demo/NOTICE -text
branch1demo/README.md -text
branch1demo/branches/20170405branch/LICENSE -text
branch1demo/branches/20170405branch/NOTICE -text
branch1demo/branches/20170405branch/sample.txt -text
branch1demo/branches/20170405branch/trunk/LICENSE -text
branch1demo/branches/20170405branch/trunk/NOTICE -text
branch1demo/branches/20170405branch/trunk/sample.txt -text
branch1demo/sample.txt -text
branch1demo/tags/tag1/Chrysanthemum.jpg -text
branch1demo/tags/tag1/Desert.jpg -text
branch1demo/tags/tag1/GitHubSetup.exe -text
branch1demo/tags/tag1/Hydrangeas.jpg -text
branch1demo/tags/tag1/LICENSE -text
branch1demo/tags/tag1/NOTICE -text
branch1demo/tags/tag1/README.md -text
branch1demo/tags/tag1/branches/20170405branch/LICENSE -text
branch1demo/tags/tag1/branches/20170405branch/NOTICE -text
branch1demo/tags/tag1/branches/20170405branch/sample.txt -text
branch1demo/tags/tag1/branches/20170405branch/trunk/LICENSE -text
branch1demo/tags/tag1/branches/20170405branch/trunk/NOTICE -text
branch1demo/tags/tag1/branches/20170405branch/trunk/sample.txt -text
branch1demo/tags/tag1/sample.txt -text
branch1demo/tags/tag1/trunk/LICENSE -text
branch1demo/tags/tag1/trunk/NOTICE -text
branch1demo/tags/tag1/trunk/sample.txt -text
branch1demo/trunk/LICENSE -text
branch1demo/trunk/NOTICE -text
branch1demo/trunk/sample.txt -text
/sample.txt -text
